<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quotsy</title>
    <meta name="description" content="Coding Dojo Practice Assignment">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
    <div class="container">
      {% for quote in quotes %}
        <section class="quote">
          <h3>{{ quote['author'] }}</h3>
          <p>{{ quote['quote'] }}</p>
        </section>
      {% endfor %}    
    </div>
	</body>
</html>
