<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quotsy</title>
		<meta name="description" content="Coding Dojo Practice Assignment">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
		<script type="text/javascript">
			$(document).ready(function(){
				console.log('doc ready');

				// this was the first way we learned - uses JSON data to update page
				// $('#get_all').click(function(){
				// 	$.get('/quotes/index_json', function(res){
				// 		var html_str = "";
				// 		for(var i = 0; i < res.length; i++){
				// 			html_str += "<section class='quote'>";
				// 			html_str += "<h3>" + res[i].author + "</h3>";
				// 			html_str += "<p>" + res[i].quote + "</p>";
				// 			html_str += "</section>"
				// 		}
				// 		$('#quotes').html(html_str);
				// 	}, 'json');
				// });

				// this was the second way we learned - uses partials to update
				// $('#get_all').click(function(){
				// 	$.get('/quotes/index_html', function(res){
				// 		$('#quotes').html(res);
				// 	});
				// });

				// third way is after updating everything w/o using Ajax, turning on to utilize post data options
				// there are three arguments that we are passing into $.post function
          //     1. the url we want to go to: '/quotes/create'
          //     2. what we want to send to this url: $(this).serialize()
          //            $(this) is the form and by calling .serialize() function on the form it will
          //            send post data to the url with the names in the inputs as keys
          //     3. the function we want to run when we get a response:
          //            function(res) { $('#quotes').html(res) }
					// we have to return false for it to be a single page application because without it jQuery's
          // submit function will cause a refresh of the page which would defeat the point of AJAX

				$('form').submit(function(){
					console.log('form submitted');
					$.post('/quotes/create', $(this).serialize(), function(res){
						console.log(this);
						$('#quotes').html(res);
					});
					return false;
				});

			});
		</script>
	</head>
	<body>
    <div class="container">
      <header>
        <h1>Quotsy</h1>
      </header>
      <!-- <section>
        <button id="get_all" class="btn btn-primary">Get Quotes</button>
			</section> -->

			<form class="form" style="margin-bottom: 30px; width: 400px;" action="/quotes/create" method="POST">

				<div class="form-group">
					<label>Author: </label>
					<input class="form-control" type="text" name="author" placeholder="author">
				</div>

				<div class="form-group">
					<label>Quote: </label>
					<textarea class="form-control" rows="4" name="quote" placeholder="quote"></textarea>
				</div>

				<input class="btn btn-primary" type="submit" value="Add Quote">
			</form>

			<section id="quotes">
				{% for quote in quotes %}
					<div class="quotes">
						<h2>{{ quote['author'] }}</h2>
						<p>{{ quote['quote'] }}</p>
					</div>
				{% endfor %}
			</section>

    </div>
	</body>
</html>
