#container{
  width: 1160px;
  height: auto;
  margin: auto;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: honeydew;
}
header{
  text-align: center;
}
section{
  width: 900px;
  height: auto;
  overflow: hidden;
  margin: auto;
  padding: 10px;
  float: left;
}
aside{
  width: 200px;
  height: 500px;
  float: right;
}
