<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ajax Notes</title>
    <meta name="description" content="Coding Dojo Assignment - Python Course">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#form_create').submit(function(){
          // alert('form submitted');
          $.post('/notes/create', $(this).serialize(), function(res){
            $('#notes').html(res);
            // console.log(res);
						// $('#form_create').reset();
          });
          return false;
        });

				// $('#form_update').submit(function(){
				// 	$.post("/notes/update/<id>", $(this).serialize(), function(res){
				// 		$('#notes').html(res);
				// 	});
				// 	return false;
				// });

				// $('#form_delete').submit(function(){
				// 	alert('deleted');
				// 	$.post('/notes/delete/{{ notes['id'] }}', $(this).serialize(), function(res){
				// 		console.log(res);
				// 		$('#notes').html(res);
				// 	});
				// 	return false;
				// });

      });
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
    <div class="container">
      <header>
        <h1>Ajax Notes</h1>
      </header>

<!-- notes in database will show here -->
      <aside id="all_notes">
        <h3>My Notes</h3>
        <div id="notes">
          {% for note in notes %}
            <div class="panel panel-default" style="margin-bottom: 20px;">
              <div class="panel-heading">
                <label>{{ note['title'] }}</label>
                <div style="float:right;">
                <!-- delete form -->
                  <form id="form_delete" action="/notes/delete/{{ note['id'] }}" method="POST">
                    <input id="description_id" name="desc_id" type="hidden">
                    <button class="btn btn-link">delete</button>
                  </form>
                </div>
              </div> <!-- closes panel heading -->
              <div class="panel-body">{{ note['description'] }}</div>
              <div class="panel-footer">
                <button class="btn btn-link" role="button" data-toggle="collapse" data-target="#div_update{{ note['id'] }}">update existing note</button>
              <!-- update form -->
								<div id="div_update{{ note['id'] }}" class="collapse">
	                <form id="form_update" action="/notes/update/{{ note['id'] }}" method="POST">
	                  <div class="form-group">
	                    <input id="description_id" name="desc_id" type="hidden">
	                    <input type="text" id="update_title" name="update_title" class="form-control" placeholder="Updated Title">
	                  </div>
	                  <div class="form-group">
	                    <textarea id="update_description" name="update_description" class="form-control" rows="3" placeholder="Updated Note"></textarea>
	                  </div>
	                  <button id="btn_update" class="btn btn-success" type="submit">Submit Update</button>
	                </form>
								</div>
              </div> <!-- closes panel footer -->
            </div>
          {% endfor %}
        </div>
      </aside>

<!-- user can create new notes here -->
      <section id="create">
        <h3>Add a Note</h3>
        <form action="/notes/create" method="POST" id="form_create">
          <div class="form-group">
            <!-- <label>Note Title</label> -->
            <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <!-- <label>Enter Note</label> -->
            <textarea id="create_description" name="create_description" class="form-control" rows="3" placeholder="Enter Note"></textarea>
          </div>
          <button id="btn_create" class="btn btn-primary" type="submit">Add Note</button>
        </form>
      </section>


    </div>
	</body>
</html>
