<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ajax Posts</title>
		<meta name="description" content="Coding Dojo Assignment - Python Course">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
		<script type="text/javascript">
      $(document).ready(function(){

        $('form').submit(function(){
					$.post('/posts/create', $(this).serialize(), function(res){
						console.log($(this).serialize());
						$('#posts').html(res);
					});
					return false;
				});
      });
    </script>
  </head>
	<body>
    <div class="container" style="width: 1200px;">
      <header>
        <h1>My Posts</h1>
      </header>

      <section id="posts" style="width: 1200px; height: auto;">
        {% for post in posts %}
          <article class="posts" style="padding: 10px; display: inline-block; vertical-align: top;">
            <div class="well" style="height: 200px; width: 200px;">
              <h4>{{ post['note'] }}</h4>
            </div>
          </article>
        {% endfor %}
      </section>

      <section>
        <form style="margin-top: 30px; width: 500px;" action="/posts/create" method="POST">
          <div class="form-group">
            <label>Add a note:</label>
            <textarea class="form-control" rows="5" name="new_note"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Post It!">
        </form>
      </section>

    </div>
	</body>
</html>
